@font-face {
  font-family: 'UTM Avo';
  src: url('./assets/fonts/utm-avo.ttf');
}
@font-face {
  font-family: 'UTM Avo';
  src: url('./assets/fonts/utm-avobold.ttf') format('ttf');
  font-weight: bold;
}
