
$height-header: 120px;
$color-1: #825F4D;

.main {
  min-height: 1500px;
  background: url("https://img.freepik.com/free-vector/ornamental-vintage-floral-background_23-2148331600.jpg?w=2000");
  background-repeat: no-repeat; background-size: cover;
  &-header {
    .header-menu {
      border: 1px solid blue; background: #fff;
      width: 100%; height: $height-header; position: fixed;
      .container {
        &-header {
          height: $height-header;
          display: flex; justify-content: space-between; align-items: center;
          img.header-logo { height: 85px; }
          ul.header-list {
            margin: 0; padding: 0;
            display: flex; align-items: center; gap: 50px;
            list-style: none;
            li {
              font-size: 14px; padding: 8px 0; cursor: pointer;
              //a { text-decoration: none; color: unset; }
            }
            li:hover, li.header-item-active {
              font-weight: bolder; color: $color-1; position: relative;
              &:before{
                content: ""; position: absolute;
                width: 30%; height: 4px;
                bottom: 0; left: 35%;
                border-bottom: 4px solid $color-1; border-radius: 3px;
              }
            }
          }
          .dropdown {
            display: flex; align-items: center;
            label { border: none; background-color: unset; }
            select {
              border: none; font-size: 14px;
              option { padding: 10px; }
            }
          }
        }
      }
    }
  }
  &-body {
    &-frame { height: $height-header; }
    .container {
      border: 1px solid red;
    }
  }
}

// RESPONSIVE
