<div class="main">
  <div class="main-header">
    <div class="header-menu">
      <div class="container">
        <div class="container-header">
          <img class="header-logo" srcset="{{headerLogo}}" alt="">
          <ul class="header-list">
            <li *ngFor="let item of headerMenuList; index as i"
                [class.header-item-active]="item.isActive"
                (click)="onSelect(selectCase.HEADER_MENU, i)"
                class="header-item">{{item.name}}</li>
          </ul>
          <div class="dropdown">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">
                  <img srcset="assets/img/vn-flag-1.png 2x" alt=""></label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Tiếng việt</option>
                <option value="1">English</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-banner" [style.background-image]="'url(' + bannerLink + ')'">
    <div class="main-banner-frame"></div>
    <div class="container">
      <div class="col-lg-6 banner-desc">
        <h1>Khám phá thanh bình tại</h1>
        <h2>SPA OMA</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis consequuntur, modi mollitia non
          quisquam sunt vitae? Aliquid aspernatur ducimus explicabo ipsum mollitia omnis pariatur reiciendis similique,
          temporibus vero vitae?</p>
        <button class="btn btn-primary btn-book"><i class="fa fa-calendar ico-book"></i>Đặt lịch ngay</button>
      </div>
    </div>
  </div>
  <div class="main-footer">Footer</div>
</div>
